.height{
    height: 75px;
}
.box{
    padding: 8px 20px;
    margin-right: 10px;
    margin-top: 10px;
    border: 2px solid #115740;
    /* width: 80px; */
    text-align: center;
   
}

.box1{
 
    background: #115740;
    color: #fff;
    
}