<div class="gridContainer">
  <div id="div1">
    <div class="welcome-details">
      <p>Welcome</p>
      <p>
        <span>
          <span id="lblMemberName">{{authService.name??authService.email}}</span>
        </span>
      </p>
      <p>Your Current Balance is <strong><span id="lblCurrentBalance">{{authService.point}}</span></strong></p>
      <p class="wel-msg"></p>
    </div>
    <div id="pnlAgentPinPassword">

      <div class="container">
        <div class="tbl-container">
          <table>
            <tbody>
              <tr>
                <td class="subheadings" align="center">
                  <div>
                    <span><input type="submit" name="btnChangePinPass" value="Change Pin Password" id="btnChangePinPass"
                       class="" [disabled]="destriData1.length === 0" (click)="changepinpass()"></span>
                    <span><input type="submit" name="btnResetData" value="Reset Member ID" id="btnResetData"
                        disabled="disabled" class="aspNetDisabled"></span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="title-details">
                  <table style="width:100%;">
                    <tbody>
                      <tr>
                        <td align="center" style="width:40%;">Member ID</td>
                        <td align="center" style="width:20%;">Password</td>
                        <td align="center" style="width:40%;">Reset Status</td>
                      </tr>

                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="data">
                  <div class="ScrollDiv">
                    <div>
                      <table cellspacing="0" rules="all" border="1" id="grdViewMemberData"
                        style="border-collapse:collapse;">
                        <tbody>
                          <tr class="RowStyle" *ngFor="let item of destriData1">
                            <td align="center" style="width:40%;">
                              <span id="lblMemberID_0">{{item.email}}</span>
                            </td>
                            <td align="center" style="width:20%;">
                              <span id="lblMemberRequirement_0">{{item.newpassword}}</span>
                            </td>
                            <td align="center" style="width:40%;">
                              <span id="lblResetStatus_0">{{item.status}}<button class="extraButton"
                                  (click)="removeEmail(item)">Remove</button>
                              </span>
                            </td>
                          </tr>
                          <tr class="FooterRow">
                            <td align="center">
                              <select [(ngModel)]="selectedUser" name="drpMemberId" id="grdViewMemberData_drpMemberId">
                                <option value="">select user</option>

                                <option [value]="item.email" *ngFor="let item of userList">{{item.email}}</option>
                              </select>

                            </td>
                            <td align="center">
                              <select name="drpDownListReuirementType" id="drpDownListReuirementType"
                                style="width:150px;">
                                <option selected="selected" value="0">Need Pin</option>
                                <!-- <option value="1">Need Password</option>
                                <option value="2">Need Both</option> -->

                              </select>
                            </td>
                            <td align="center">
                              <input type="submit" name="btnAddDetails" value="Add Details" id="btnAddDetails"
                                class="extraButton" (click)="addMember()">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>