<table style="z-index: 100;position:relative;height:96px;top:0px;left:0px;font-family:Arial;font-size:13px;" id="Table1"
    border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
    <tbody>
        <tr>
            <td style="height: 55px; background:#000;" height="55" valign="top"></td>
        </tr>
        <tr>
            <td style="height: 23px; background:#990000;" valign="center" align="middle">
                <font style="color: #ffffff;" color="#ffffcc">
                    <a style="color: #ffffff; text-decoration:none;" href="">About US</a> |
                    <a style="color: #ffffff; text-decoration:none;" href="">MGM</a> |
                    <a style="color: #ffffff; text-decoration:none;" href="">Tutorials</a> |
                    <a style="color: #ffffff; text-decoration:none;" href="">FAQ</a> |
                    <a style="color: #ffffff; text-decoration:none;" href="">Downloads</a> |
                    <a style="color: #ffffff; text-decoration:none; VERTICAL-ALIGN: baseline" href="/contact">Contact
                        Us</a>


                </font>
            </td>
        </tr>
        <tr>
            <td style="background:#F7B200;" height="21" valign="center"
                background="./funrep _ Point Transfer_files/yellow.gif" align="middle">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                <a routerLink="point-transfer" style="color: #320000; text-decoration:none;">Manage My Points</a> |
                <a routerLink="child-reg" style="color: #320000; text-decoration:none;">Child Registration</a> |
                <a routerLink="change-password" style="color: #320000; text-decoration:none;">Change Password</a> |
               <!--  <a routerLink="change-pin" style="color: #320000; text-decoration:none;">PIN</a> |
                <a routerLink="update-profile" style="color: #320000; text-decoration:none;">Update Profile</a> | -->
                <a routerLink="draw-details" style="color: #320000; text-decoration:none;"><strong>Draw
                        Details</strong></a> |

                <a href="" style="color: #320000; text-decoration:none;">Download Patch</a> |


                <a onclick="return false;" routerLink="/game-records" style="color: #320000; text-decoration:none;">Play
                    Games</a> |
                <a routerLink="pin-and-password" style="color: #320000; text-decoration:none;">Pin &amp; Password</a> |
                <a routerLink="/logout" style="color: #320000; text-decoration:none;">Logout</a>
            </td>
        </tr>
    </tbody>
</table>
<div style="z-index: 102; position: absolute; width: 120px; height: 91px; top: 14px; left: 16px">
    <img style="z-index: 103; position: absolute; top: 0px; left: 0px" alt="" src="assets/img/logo.png" width="120"
        height="90">
</div>