.side-bar{
    width: 200px;
    background: aquamarine;
    height: 100vh;
}



#main-content {
    /* margin-left: 200px; Set to the width of your sidebar */
    width: calc(100% - 200px); 
    box-sizing: border-box;
}

@media screen and (max-width: 650px) {
    .side-bar {
        width: 60px;
    }

    #main-content {
        width: calc(100% - 60px); 
        box-sizing: border-box;
    }
}