<div class="gridContainer">
  <div id="div1">
    <div class="welcome-details">
      <p>Welcome</p>
      <p>
          <span>
              <span id="lblMemberName">{{authService.name?? authService.email}}</span>
          </span>
      </p>
      <p>Your Current Balance is <strong><span id="lblCurrentBalance">{{authService.point}}</span></strong></p>
      <p class="wel-msg"></p>
  </div>
    <div class="container">
      <div class="error">
        <div id="vldSummaryChangePass" class="error-msg" style="display:none;">

        </div>
      </div>
      <div class="tbl-container">
        <table>
          <tbody>
            <tr>
              <th class="headings" align="left">:: Change Password</th>
            </tr>
          </tbody>
        </table>
        <div class="c-pass">
          <table>
            <tbody>
              <tr>
                <td class="subheadings">
                  <form #formData="ngForm">

                    <table>
                      <tbody>
                        <tr>
                          <td>Old Password <span style="color:Red;">*</span> : </td>
                          <td>
                            <input name="txtOldPassword" type="password" [(ngModel)]="user.old_password" maxlength="23"
                              id="txtOldPassword" oncopy="return false" onpaste="return false"
                              oncut="return false" required>
                          </td>
                          <td>
                            
                          </td>
                        </tr>
                        <tr>
                          <td>New Password <span style="color:Red;">*</span> : </td>
                          <td>
                            <input name="txtNewPassword" [(ngModel)]="user.new_password" type="password" maxlength="20"
                              id="txtNewPassword" oncopy="return false" onpaste="return false"
                              oncut="return false" required>
                            <span class="eyeOver">
                              <i id="showPassword" class="fa-solid fa-eye"></i>
                              <i id="hidePassword" style="display:none;" class="fa-solid fa-eye-slash"></i>
                            </span>

                          </td>
                          <td>
              
                          </td>
                        </tr>
                        <tr>
                          <td>Confirm New Password <span style="color:Red;">*</span> : </td>
                          <td>
                            <input name="txtConfirmPassword" [(ngModel)]="user.con_password" type="password" maxlength="20"
                              id="txtConfirmPassword" oncopy="return false" onpaste="return false"
                              oncut="return false" required>
                          </td>
                          <td>
                          </td>
                        </tr>
                        <!-- <tr>
                          <td>Your Pin :</td>
                          <td>
                            <input name="txtPin" type="password" maxlength="16"
                              id="txtPin" oncopy="return false" onpaste="return false"
                              oncut="return false">
                          </td>
                          <td>
                            <span id="reqPin" style="color:Red;visibility:hidden;">*</span>
                          </td>
                        </tr> -->
                        <tr>
                          <td colspan="3">
                            <input type="submit" name="btnChangePass" value="Change"
                               [disabled]="formData.form.invalid" (click)="onSubmit(formData)">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>